/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
============================================ */


/* =========================================
                Html, Body
============================================ */
:root{
    /*Colors*/
    --Moon_Yellow:#f4c613;
    --Grey:#212226;
    --White_Smoke:#f4f4f4;
    --White:#fff;
    --Black:#000;
    --Gray:#f4f4f4;
    /*Borders*/
    --border_white:1px solid #fff;
    --border_yellow:1px solid #f4c613;   
}
html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: var(--White);
    overflow: hidden;
}

/*Preloader*/

#preloader {
    background-color: var(--White);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}


/*End Preloader*/
/*Header*/

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.smooth-scroll{
    color: var(--White);
    transition: all 0.8s ease;
}

.smooth-scroll:hover{
    color: var(--Moon_Yellow)
}

/*End Header*/
/*Home*/
#home {
    background: none;
    height: 100%;
}
#home-bg-video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    overflow-x:hidden;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home-heading h1 {
    color: var(--White);
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

#home-heading h1 span {
    color: var(--Moon_Yellow);
    font-weight: 500;
}

#home-text p {
    color: var(--White);
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/*End Home*/

/*Buttons*/
.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s ease-in-out;
}

.btn-home {
    color: var(--White);
    border: var(--border_white);
}

.btn-home:hover,
.btn-home:focus {
    color: var(--White);
    background-color: var(--Moon_Yellow);
    border: var(--border_yellow);
}
/*End Buttons*/

/*Arrow Down*/
#arrow-down {
   color:var(--White);
   font-size: 32px;
   width: 32px;
   height: 32px;
   text-decoration: none;
   transition: all 0.5s ease-in-out;
   position: absolute;
   left: 50%;
   bottom: 20px;
}

#arrow-down:hover,
#arrow-down:focus {
    color: var(--Moon_Yellow);
}

.fa-angle-down{
    display: flex;
    justify-content: center;
}
/*End Arrow Down*/

/*About 01*/
.content-box-lg{
    padding: 100px 0;
}

.vertical-heading h5{
    color: var(--Moon_Yellow);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -53px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 3em;
    font-weight: 100;
    line-height: 45px;
}

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

/*End About 01*/

/*About 02*/
#about-02 {
    background-color: var(--Gray);
}

.content-box-md{
    padding: 100px 0;
}

.about-item {
    background-color: var(--White);
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all 0.5s ease;
}

.about-item i {
    font-size: 3em;
    margin: 0;
}

.about-item h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.about-item hr {
    width: 100px;
    height: 3px;
    background-color: var(--Moon_Yellow);
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}


/* Hover state */

.about-item:hover {
    background-color: var(--Moon_Yellow);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: var(--White);
}


.about-item:hover hr {
    background-color: var(--White);
}

.about-item:hover i {
    transform: translateY(-20px);
}

/* Smooth transition */
.about-item i,h3,p{
    transition: all 0.5s ease-in-out;
}

/*End About 02*/
